.navbar {
    background-color: #04AA6D;
    padding: 20px;
}
.navbar a {
    color: #0f0f0f;
    background-color: yellow;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 600;
}
.navbar a:hover {
    background-color: gold;
}